In [10]:
from pandas import read_csv, DataFrame
from pprint import pprint
#using the biodiversity data from  https://github.com/pol-is/openData/

In [2]:
comments = read_csv('comments.csv')
participants = read_csv('participants-votes.csv')

In [3]:
group0 = participants[participants['group-id']==0.0]
group1 = participants[participants['group-id']==1.0]

In [9]:
#get the data into the countCollection 
from collections import OrderedDict
countColl = []
missing = []
for i, group in enumerate([group0,group1]):
    for q in range(19):# range(topQ+1):
        try:
            counts = group[str(q)].value_counts(sort=False)
            countColl.append(OrderedDict(
                group=i,
                question = q,
                counts = counts
            ))
        except KeyError:
            missing.append(f'missing Group {i}, Q{q}' )
#countColl


def getVal(c,index):
    """pandas doesn't show counts of 0, but we will"""
    try:
        return c[index]
    except KeyError:
        return 0

for i,row in enumerate(countColl):
    c=row['counts']
    disagrees = getVal(c,-1)
    agrees = getVal(c,1)
    passes = getVal(c,0)
    parsedCounts=dict(agrees=agrees, disagrees=disagrees, passes=passes)
    countColl[i]['parsedCounts']= parsedCounts
    del countColl[i]['counts']
    #pprint(countColl[i])
    #print()
    
DataFrame(countColl)

    group  question                                    parsedCounts
0       0         0     {'agrees': 6, 'disagrees': 25, 'passes': 4}
1       0         1    {'agrees': 13, 'disagrees': 17, 'passes': 5}
2       0         2     {'agrees': 9, 'disagrees': 21, 'passes': 5}
3       0         3      {'agrees': 3, 'disagrees': 1, 'passes': 1}
4       0         4      {'agrees': 2, 'disagrees': 3, 'passes': 0}
5       0         5    {'agrees': 18, 'disagrees': 12, 'passes': 4}
6       0         8     {'agrees': 4, 'disagrees': 25, 'passes': 5}
7       0         9     {'agrees': 7, 'disagrees': 24, 'passes': 3}
8       0        10     {'agrees': 22, 'disagrees': 7, 'passes': 5}
9       0        11      {'agrees': 0, 'disagrees': 4, 'passes': 1}
10      0        12      {'agrees': 0, 'disagrees': 4, 'passes': 1}
11      0        13      {'agrees': 3, 'disagrees': 1, 'passes': 1}
12      0        14      {'agrees': 0, 'disagrees': 4, 'passes': 1}
13      0        15      {'agrees': 0, 'disagrees': 4, 'passes': 1}
14      0        16      {'agrees': 5, 'disagrees': 0, 'passes': 0}
15      0        17   {'agrees': 24, 'disagrees': 31, 'passes': 12}
16      0        18      {'agrees': 0, 'disagrees': 0, 'passes': 0}
17      1         0  {'agrees': 39, 'disagrees': 109, 'passes': 24}
18      1         1   {'agrees': 78, 'disagrees': 76, 'passes': 24}
19      1         2  {'agrees': 38, 'disagrees': 116, 'passes': 22}
20      1         3    {'agrees': 26, 'disagrees': 12, 'passes': 4}
21      1         4    {'agrees': 13, 'disagrees': 21, 'passes': 6}
22      1         5  {'agrees': 30, 'disagrees': 110, 'passes': 21}
23      1         8   {'agrees': 36, 'disagrees': 99, 'passes': 25}
24      1         9   {'agrees': 88, 'disagrees': 58, 'passes': 16}
25      1        10  {'agrees': 38, 'disagrees': 104, 'passes': 20}
26      1        11     {'agrees': 2, 'disagrees': 34, 'passes': 5}
27      1        12     {'agrees': 0, 'disagrees': 33, 'passes': 9}
28      1        13     {'agrees': 34, 'disagrees': 1, 'passes': 6}
29      1        14     {'agrees': 0, 'disagrees': 34, 'passes': 7}
30      1        15     {'agrees': 0, 'disagrees': 33, 'passes': 9}
31      1        16     {'agrees': 38, 'disagrees': 1, 'passes': 2}
32      1        17   {'agrees': 252, 'disagrees': 3, 'passes': 20}
33      1        18      {'agrees': 5, 'disagrees': 0, 'passes': 0}

In [34]:
comments.columns

Index(['timestamp', 'datetime', 'comment-id', 'author-id', 'agrees',
       'disagrees', 'moderated', 'comment-body'],
      dtype='object')

In [16]:
comments['comment-id agrees disagrees comment-body'.split()] #passes not available

,comment-id,agrees,disagrees,comment-body
0,298,1,0,The youth need to be hugely involved in this -...
1,306,1,0,Dogs should be kept on the leash at all times ...
2,296,25,4,Biodiversity needs to be defined in a way that...
3,315,43,1,We should recognise and value our indigenous e...
4,314,1,0,Biodiversity consultation needs to include exp...
...,...,...,...,...
311,7,0,0,I live in a large city
312,6,0,0,I live in a medium-sized city
313,5,48,125,"I live in a NZ town (population less than 50,000)"
314,3,29,13,I am male
315,2,50,144,I am 55 years old or older

In [33]:
comments['comment-id agrees disagrees comment-body'.split()].to_dict('records')[4]

{'comment-id': 315,
 'agrees': 43,
 'disagrees': 1,
 'comment-body': "We should recognise and value our indigenous ecosystems for their contribution to global biodiversity. We've lost so much already"}